<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @event.contact %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.data %>
</p>

<p>
  <strong>Full Description:</strong>
  <%= @event.full_description %>
</p>

<%= link_to 'Back', contact_events_path(@event.contact) %>
