<ul>
	<li><%= link_to "Import Contacts", import_path, class: "#{"selected" if request.path == import_path}" %></li>
	<li><%= link_to "New Contact", new_contact_path, class: "#{"selected" if request.path == new_contact_path}" %></li>
	<li><%= link_to "All Contacts", root_path %></li>
	<% @user.segments.each do |segment| %>
		<li><%= link_to "Show #{segment.name} Contacts", segment_contacts_path(segment) %></li>
	<% end %>
</ul>


<h1>Listing contacts</h1>

<br>

<%= link_to "New Contact", new_contact_path %>

<br><br>

<%= will_paginate @contacts %>

<br>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Data</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
		<% cache [@segment ? @segment : @user, "contacts", params[:page].to_i] do %>
	    <%= render @contacts %>
		<% end %>
  </tbody>
</table>

<br>

<%= will_paginate @contacts %>