</div>

<%= form_tag request.path, id: "time_picker", method: :get, remote: true do %>
	<div class="wide_container">
		<%= hidden_field_tag :description, params[:description] %>
		<%= text_field_tag :start, cookies[:start] %>
		<%= text_field_tag :finish, cookies[:finish] %>
		<%= select_tag :now_offset, options_for_select([["30 minutes", 30.minutes], ["1 hour", 1.hour], ["3 hours", 3.hours], ["6 hours", 6.hours], ["12 hours", 12.hours], ["1 day", 1.day], ["2 days", 2.days], ["3 days", 3.days], ["5 days", 5.days], ["1 week", 1.week], ["2 weeks", 2.weeks]], cookies[:now_offset]) %>
		<%= label_tag :now %>
		<%= check_box_tag :now, 1, cookies[:now].to_i == 1 ? true : false %>
	</div>
<% end %>

<div class="wide_container">