<!DOCTYPE html>
<html>
<head>
  <title>Retrack | Remetric</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="apple-touch-icon" sizes="120x120" href="/imgs/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/imgs/touch-icon-ipad-retina.png">
  <link rel="shortcut icon" href="/imgs/favicon.ico" />
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render "nav", placeholder: false %>
	<%= render "nav", placeholder: true %>

	<div id="yield" class="wide_container">
		<%= yield %>
	</div>
	
  <div id="footer" class="app_footer">
    <div class="wide_container">
      
      <div id="after_footer">
        <p class="copyright">Copyright &copy; <%= Time.now.year %> <a href="http://www.remetric.com/blog/">Remetric.com</a>. All Rights Reserved.</p>
        
        <ul class="terms_nav">
          <li><%= link_to "Terms of Service", "http://www.remetric.com/blog/" %></li>
          <li><%= link_to "Privacy Policy", "http://www.remetric.com/blog/" %></li>
          <li><%= link_to "Security", "http://www.remetric.com/blog/" %></li>
        </ul>
      </div>
      
      <div class="clear"></div>
    </div>
  </div>


	
		<script type="text/javascript">
			this._RM || (this._RM = []);
			_RM.push(["debug"]);
			_RM.push(["domain", "http://localhost:3000"]);
			_RM.push(["api_key", "IPvBEuGI9Znf3245Z0cjIi6yvsIgTpXUizh8qVlmB5n4oO8N"]);
		  _RM.push(["track", "{{ contact.name }} did something really awesome ({{ last_awesome }}).", {
		    contact: {
					key: "dallas",
					name: "Dallas Read"
				},
				last_awesome: "great"
		  }]);
		
		  (function() {
		    var ct = document.createElement("script"); ct.type = "text/javascript";
				ct.async = true;  ct.src = "http://localhost:3000/assets/track.js";
				var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ct, s);
		  })();
		</script>


</body>
</html>
